.filterContainer {
    background: lightgray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.selectContainer {
    padding: 0.3em;
    margin-left: 5px;
}